{% from '../anchor/index.njk' import anchor %}
{% from '../wavy-line/index.njk' import wavy_line %}

{% macro site_footer(lastfm='') %}
  {% if lastfm %}
    {% set topArtists = lastfm['topArtists'] %}
    {% set topTrack = lastfm['topTrack'] %}
    <footer class="site-footer">
      <div class="site-footer__divider">
        {{ wavy_line() }}
      </div>
      <p class="site-footer__body">I have been feeding my ears with the organic sound juice of {{ anchor(topArtists[0].artist, topArtists[0].url) }}, {{ anchor(topArtists[1].artist, topArtists[1].url) }} and {{ anchor(topArtists[2].artist, topArtists[2].url) }} whilst my bones are constantly gyrating to {{ anchor(topTrack.name, topTrack.url) }} by {{ topTrack.artist }}.</p>
    </footer>
  {% endif %}
{% endmacro %}