{% from '../anchor/index.njk' import anchor %}

{% macro site_footer() %}
  <footer class="site-footer">
    <p class="site-footer__body">I have been feeding my ears with the organic sound juice of {{ anchor('Rise Against', '#') }}, {{ anchor('The Offspring', '#') }} and {{ anchor('AJR', '#') }} whilst my bones are constantly gyrating to {{ anchor('Its nice to know you work alone', '#') }} by {{ anchor('SilversunPickups', '#') }}.</p>
  </footer>
{% endmacro %}