<!doctype html>
<html lang="en-gb">
  <head>
    
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="/static/css/index.css" />

    <!-- Scripts? -->

    <!-- RSS Feed -->
    <!-- Canonical -->
    <meta name="generator" content="CoffeeCup HTML Editor 3.5" />
    <meta name="description" content="" />
    <meta name="image" content="" />
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@iamdanpalmer" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:image" content="" />

  </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>