{% from '../anchor/index.njk' import anchor %}
{% from '../link-list/index.njk' import link_list %}
{% from '../wavy-line/index.njk' import wavy_line %}

{% macro post_header(title, publish_date_label='', publish_date_datetime='',
    category_name='', category_url='', publish_prefix='Written on ') %}

  <header class="post-header">
    {% set nav_links = [{
      'label': '🏡 Home',
      'url': '/'
    }] %}
    <nav class="post-header__nav">
      {% call(link) link_list(links=nav_links) %}
        {{ anchor(link['label'], link['url']) }}
      {% endcall %}
    </nav>
    <h1 class="post-header__title">{{ title }} </h1>
    <p class="post-header__meta">
      {{ publish_prefix }}<time datetime="{{ publish_date_datetime }}">{{ publish_date_label }}</time>{% if category_name %} under {{ anchor(category_name, category_url, type='secondary') }}{% endif %}
    </p>
    <div class="post-header__divider">
      {{ wavy_line() }}
    </div>
  </header>
{% endmacro %}
