.site-header {
  margin-bottom: modular-scale(3);
  position: relative;
}

.site-header__title {
  @include apply-type-styles("roles.heading");
  color: get-color-token("text.heading");
  font-size: get-type-size("extra-extra-large");
  margin: 0 0 modular-scale(3) 0;
}

.site-header__body {
  @include apply-type-styles("roles.body");
  color: get-color-token("text.body");
  font-size: get-type-size("medium");
  margin: modular-scale(2) 0;
}

.site-header__divider {
  margin: modular-scale(3) 0 0 0;
}