{% from './_includes/components/skip-to-main-button/index.njk' import skip_to_main_button %}
{% from './_includes/components/site-header/index.njk' import site_header %}
{% from './_includes/components/site-footer/index.njk' import site_footer %}
{% from './_includes/components/heading/index.njk' import heading %}
{% from './_includes/components/card-stack/index.njk' import card_stack %}
{% from './_includes/components/stacked-card/index.njk' import stacked_card %}

{% extends 'layouts/base.njk' %}

{% block content %}

  <div class="site-wrapper">
    {{ skip_to_main_button() }}

    {{ site_header() }}

    <main id="main-content">
      {{ heading('Tags', level='two', type='h2') }}

      {% for group in collections.groupedByTags %}
        {{ heading(group.label, level='three', type='h3', id=group.slug) }}

        {% call(item) card_stack(items=group.posts) %}
          {{ stacked_card(
            item['title'],
            item['url'],
            teaser=item['teaser'],
            publish_date_label=item['publish_date_label'],
            publish_date_datetime=item['publish_date_datetime'],
            category_name=item['category_name'],
            category_url=item['category_url'],
            is_external=item['is_external']
          ) }}
        {% endcall %}
      {% endfor %}
    </main>

    {{ site_footer(lastfm) }}
  </div>

{% endblock %}